
<section class="formContainer">

  <h1>Contact Me</h1>

  <form [formGroup]="contactForm" (ngSubmit)="sendForm()">
    <label for="name">Name:</label>
    <input formControlName="name" type="text" id="name" name="name" placeholder="Your name" required>

    <label for="email">Email:</label>
    <input formControlName="email" type="email" id="email" name="email" placeholder="Your email" required>

    <label for="message">Message:</label>
    <textarea formControlName="message" class="message" id="message" name="message" placeholder="Your message" rows="4" required></textarea>

    <button [disabled]="!contactForm.valid" type="submit">Submit</button>
  </form>

   <p>This Form comes from Contact Component</p>
</section>
