.commentContainer {
  max-width: 300px;
  color: white;
  background-color: #555555;
  padding: 4px;
  border-radius: 8px;
  display: grid;
  justify-items: center;
}

.comment {
  background-color: #1a1a1a;
  padding: 6px;
  border-radius: 20px 4px 20px 4px;
  margin: 4px 2px 8px 2px;
}

h2 {
  margin-top: 0;
}

input {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1a1a1a;
  border-radius: 12px 4px 12px 4px;
}

button {
  margin-left: 4px;
  background-color: #f4f4f4;
  color: #171717;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px 2px 10px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #171717;
  color: #f4f4f4;
}
