<div class="container">

  <h2>User Component!</h2>

  <section>

    @if (userExist) {
      <h3>Welcome User: {{ username }}</h3>
      <p> {{ username }} live in {{city }}</p>
      <p>This user can use these programming languages:</p>
      <ul>
        @for (language of programmingLanguages; track $index) {
          <li>{{ language }}</li>
        }
      </ul>

      <!-- Property Binding [] -->
      <p [contentEditable]="isEditable" class="isEditable" >
        {{ pText }}
      </p>

      <!-- Event Handling () -->
      <button (dblclick)="editable()" >🙈 Double click here to move the monkey (or edit it) 🙈</button>

      <!-- Using @Output -->
      <button (click)="increaseCount()" >👋 Click here to say Hi to Parent Component! 👋</button>

    } @else {
      <h3>There is not users yet... :c</h3>
    }

  </section>

  <hr>
  <p class="friends" (click)="seeFriends()" >Meet my friends!</p>
  @if (friends) {
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @for (friend of friendsList; track friend.id) {
          <tr>
            <td> {{ friend.name }} </td>
            <td> {{ friend.username }} </td>
            <td> {{ friend.email }} </td>
          </tr>
        }
      </tbody>

    </table>
  }
  <p>This card comes from User Component</p>

</div>
